ALL THE SEARCHES<br><br>


<ul>
  <%= link_to feed_path(uid: @tumbles["blog"]["name"], type: "TumblrFeed"), method: :post do %>
    <li>
      <strong><%= @title %></strong><br>
      <img src="<%= @tumbles["blog"]["name"] %>"/> 
      <!-- <span class = "username"> --><%#= "@" + twitter_user.username %><!-- </span> -->
    </li>
  <% end %>
</ul>
<%= link_to "View #{@title1} on Tumblr!", "#{@url}" %><br><br>


