<div id="center">
  <iframe id="video" src="http://www.funnyordie.com/embed/6fb4b042a3" width="640" height="400" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>