<!-- <div id="center">
  <iframe id="video" src="http://www.funnyordie.com/embed/6fb4b042a3" width="640" height="400" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div> -->
<body>
  <div id="logo">
    <img src='/assets/stalkmore.jpg' alt="logo">
  </div>
  <div id="people-watch">
    <h3 id="home">
      You’ve got people you want to <span id="watch">watch</span>?
    </h3>
  </div>
  <div id="eyes-container">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
  </div>
  <div id="come_stalk">
    <h4 id="home">
      You wanna know what they’re up to on Tumblr, Twitter, or another blog? Stalkmore can put all that in one place for you. C’mon, join us. Let us be your eyes.
    </h4>
  </div>
</body>