<body id="landing-page" >
<div id="blah">
  <div id="logo">
    <h1>From a Bird's Eye</h1>
  </div>
  <div id="people-watch">
    <h3 id="home">
      Come enjoy the view.
    </h3>
  </div>
  <div id="eyes-container">
    <%= image_tag("birds_eye.png")%>
  </div>
  <div id="come_stalk">
    <h4 id="home">
      <p>Get all your feeds in one place, on one page.</p>
      <p>Log In with Twitter:</p>
    </h4>
    <div id="stalk">

      <%#= link_to "Log in with Twitter" (image_tag, sign_in_path, id: "twitter-login", class: "btn btn-default" %>
      <%= link_to image_tag('twitterblue.png'), sign_in_path %>
    </div>
  </div>
</div>
</body>

