<body id="landing-page" >
<div id="blah">
  <div id="logo">
    <%= image_tag "/assets/stalkmore.jpg"%>
  </div>
  <div id="people-watch">
    <h3 id="home">
      You’ve got people you want to watch?
    </h3>
  </div>
  <div id="eyes-container">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
    <img class="stalker-eyes" src="http://media.giphy.com/media/10AR8ZmmEDHK2Q/giphy.gif" alt="Stalker eyes">
  </div>
  <div id="come_stalk">
    <h4 id="home">
      You wanna know what they’re up to on Tumblr, Twitter, or another blog? Stalkmore can put all that in one place for you. C’mon, join us. Let us be your eyes.
    </h4>
    <div id="stalk">
      <%= link_to "Log in with Twitter", sign_in_path, id: "twitter-login", class: "btn btn-default" %>
    </div>
  </div>
</div>
</body>

