/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
 padding-top: 70px;
}

.nav.navbar-nav.navbar-right li a {
  padding-right: 50px;
}
/*.navbar-default {
  background-color: black;
}*/

li {
  list-style: none;
}

.date {
  color: #402F21;
}

.author {
  color: #402F21;
}

.tweet, .tumble, .rss {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #84EFFF;
  border: 1px solid black;
}

.tumble {
  background-color: #39A3B2;
}

.rss {
  background-color: #FFC99E;
}

a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */



