/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 *= require override_bootstrap
 */


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
 padding-top: 70px;
}

.nav.navbar-nav.navbar-right li a {
/*  padding-right: 50px;*/
}

li {
  list-style: none;
}

.date {
  color: #402F21;
}

.author {
  color: #402F21;
}

.tweet, .tumble, .rss {
  border-radius:25px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #B0A4A4;
}

.tumble {
  background-color: #D0D2D6;
}

.rss {
  background-color: #C3DBEB;
}

.tweet {
  background-color: #8DD2FC;
}



