@font-face {
 
}

body/*div#landing-page*/ {
/* padding-top: 70px;*/ 
 background-color: white;
 /*background-image: image-url('background.jpg');*/
}

p {
  padding-bottom: 0;
}
h1 {
  font-size: 20pt;
  padding-top: 0;
  padding-bottom: 0;
}

#landing-page {
  padding-top: 0;
}

#video {
  margin: 70px auto;
}

#center {
  text-align: center;
}

.stalker-eyes {
  margin: 30px;
  width: 300px;
}

#logo {
  text-align: center;
}

#eyes-container {
  text-align: center;
  padding: 20px;
  margin: auto;
}

#home {
  font-size: 15px;
  font-family: 'Rock Salt', cursive;
  color: #121E78;
  text-align: center;
  margin: 0px 0px 20px 0px;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 10px;
}

h4#home {
  border: none;
  padding-bottom: 0;
}

#people-watch {
  width: 780px;
  margin: 0 auto;
}

#come_stalk {
  width: 700px;
  margin: 0 auto;
}

#stalk {
  text-align: center;
}

  