@font-face {
  font-family: 'BlackCasper';
  src: url('blackcasper/BlackCasper.ttf');
}

body {
 padding-top: 70px; 
 background-color: black;
 /*background-image: image-url('background.jpg');*/
}

iframe#video {
  margin: 70px auto;
}

div#center {
  text-align: center;
}

img.stalker-eyes {
  margin: 30px;
  width: 300px;
}


div#logo {
  text-align: center;
}


div#eyes-container {
  text-align: center;
  padding: 20px;
}

h3#home {
  font-size: 45px;
  font-family: 'Zeyada', cursive;
  color: rgb(218, 154, 48);
  text-align: center;
  margin: 0px 0px 40px 0px;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 30px;
}

div#people-watch {
  width: 780px;
  margin: 0 auto;
}

/*span#watch {
  font-family: 'Rock Salt', cursive;
}*/

h4#home {
  font-size: 25px;
  color: rgb(200, 200, 200);
  text-align: center;
  margin-top: 25px;
  font-family: 'Stint Ultra Expanded', cursive;
}

div#come_stalk {
  width: 700px;
  margin: 0 auto;
}


  